<ion-header>
  <ion-toolbar>
    <ion-menu-button autoHide="false" style="color:#757575" class="menu_button_adjustment"></ion-menu-button>
    <ion-title class="header_title_postion ion-text-center">budgetDashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="createBudget()">
      <ion-icon name='add'></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>