<ion-header>
  <ion-toolbar>
    <ion-menu-button autoHide="false" style="color:#757575" class="menu_button_adjustment"></ion-menu-button>
    <ion-title class="header_title_postion ion-text-center">Notes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of storyList">
        <ion-label>{{item.title}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="addANote()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>