<ion-header>
  <ion-toolbar>
    <ion-menu-button autoHide="false" style="color:#757575" class="menu_button_adjustment"></ion-menu-button>
    <ion-title class="header_title_postion ion-text-center">Create budget</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]='budget' (ngSubmit)="createSpending()">
    <ion-item lines="full">
      <ion-label position="floating">Title </ion-label>
      <ion-input type="text" formControlName="title" required></ion-input>
    </ion-item>



    <ion-item lines="full">
      <ion-label position="floating">Amount</ion-label>
      <ion-input type="text" formControlName="amount" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Spent Date</ion-label>
      <ion-datetime style="width: 100%;padding: 0px;" formControlName="spentDate" display-format="DD/MMM/YYYY">
      </ion-datetime>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Type</ion-label>
      <ion-select placeholder="Select One" formControlName='spendingType'>
        <ion-select-option [value]="item.type" *ngFor='let item of spendingOptions'>{{item.type}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Sumbit</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>