<ion-header>
  <ion-toolbar>
    <ion-menu-button autoHide="false" style="color:#757575" class="menu_button_adjustment"></ion-menu-button>
    <ion-title class="header_title_postion ion-text-center">Create Note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]='createNote' (ngSubmit)="createNoteSubmit()">
    <ion-item lines="full">
      <ion-label position="floating">Title  </ion-label>
      <ion-input type="text"  formControlName="title" required></ion-input>
    </ion-item>

    

    <ion-item lines="full">
      <ion-label position="floating">Url</ion-label>
      <ion-input type="text" formControlName="url" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Sumbit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>