<ion-header>
  <ion-toolbar>
    <ion-menu-button autoHide="false" style="color:#757575" class="menu_button_adjustment"></ion-menu-button>
    <ion-title class="header_title_postion ion-text-center" >menudashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid size='12'>
    <ion-row>
      <ion-col class="outlayer" size='6' *ngFor='let item of menu' (click)="routeing(item)">{{item.title}}</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>