.outlayer {
  width: 40%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border:1px solid #757575;
  margin-bottom: 10px;
//   margin-right: 10px;
  padding: 0px;
  border-radius: 20px;
}
